.top-menu-lead {
    padding: 10px;
    background-color: #00ff00;
    color: white;
    display: inline-block;
    display: flex;
    align-items: center;
    float: left;
    font-size: 18px;
}



@media screen and (max-width: 600px) {

    

    .top-menu-lead {
        position: absolute;
        top: 10px;
        left: 10px;
        float: none;
    }
}