/* 

.home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}


.p-home {
    margin-top: 15px;
    width: 80vw;
    font-size: 14px;
}

.mi-reality {
    width: 90vw;
}
*/
.head-set {
    width: 20vw;
    
}
/*
@media screen and (min-width: 768px) {

    .home{
        display: flex;
        flex-direction: row;
    }

    .p-home {
        width: 30vw;
    }

    .mi-reality {
        width: 40vw;
    }

    .head-set {
        width: 40vw;
    }

}
 */
